<% # Set the title attribute for this page
   content_for :title do %>
  Khách hàng
<% end %>

<% # Set the title of content
   content_for :content_header do %>
  <div class="row">
    <div class="col-sm-3">

    </div>

    <div class="col-sm-9">
      <div class="pull-right">
        <button type="button" class="btn btn-default bg-black">
          <%= fa_icon 'history' %> Xem change log
        </button>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'profile_summary' %>
    <%= render partial: 'profile_documents' %>
  </div>

  <div class="col-sm-9">
    <%= render partial: 'staff/partials/dynamic_forms/form' %>
  </div>
</div>