<div class="container">
  <div class="row">
    <h3>Staffs</h3>
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Deleted at</td>
          </tr>
        </thead>
        <tbody>
          <% @staffs.each do |staff| %>
            <tr>
              <%= render staff %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= link_to 'New staff', new_admin_staff_path %>
  </div>
</div>
