<div class="box box-info">

  <div class="box-header with-border">
    <h3 class="box-title"><%= @form.name %></h3>
  </div><!-- /.box-header -->

  <!-- form start -->
  <%= form_tag(controller: 'staff/forms', action: 'execute', method: 'post', class: 'form-horizontal') do %>
    <!--Content-->
  <% end %>
</div>
