<td><%= link_to organization.id, [:admin, organization] %></td>
<td><%= link_to organization.name, [:admin, organization] %></td>
<td><%= link_to organization.level, [:admin, organization] %></td>
<td><%= link_to organization.parent&.name || '', [:admin, organization] %></td>
