<!-- BANK ACCOUNT INFO -->
<div class="row margin-bottom">
  <div class="col-sm-12">
    <%= render 'staff/partials/dynamic_forms/finance_info/bank_account' %>
    <%= render 'staff/partials/dynamic_forms/finance_info/credit_institution' %>
  </div>
</div>