<div class="container">
  <div class="row">
    <h3>Staffs</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @staffs.each do |staff| %>
            <tr>
              <%= render staff %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
